
  div.panel-primary {
    width:1450px;
    font-family:constantia;   
    border-radius: 10px;
    
  }
div.middle {
    display: block;
    overflow:hidden;
}
  div.left{
    float: left;
  }
  div.right{
    float: right;
  }

ul {
    list-style-type: none;
    margin: 0;  
    overflow: hidden;
    background-color: #282C35;
    width: 1450px
}
li {
    float: left;
    margin: 10px 30px;
    font-size:1.8em; 
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 10px;
    text-decoration: none;
}
li a:hover {
    background-color: #282C35;
}

body{
	font-family:constantia;
	font-size:1.5em;
}

input[type="text"] {
    width: 300px;
}


